<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-danger" role="alert">
        An error occurred: <%= error %>
      </div>
    </div>
  </div>
</div>
