<%- include('partials/signup-header.ejs') -%>

<main class="container">
  <!-- Navigation Header -->
  <div class="row justify-content-between align-items-center mt-5">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <!-- Logo or Community Name -->
      <h1 class="text-secondary" style="color:#45526e;">OURSElite</h1>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      
      <!-- Login and Signup Buttons -->
      <div class="d-grid gap-2">
        
        <a href="/login" type="button" class="btn btn-secondary btn-lg" style="color: white; background-color: #45526e;">Login</a> 
        
        <a href="/signup" type="button" class="btn btn-secondary btn-lg" style="color: white; background-color: #45526e;">Signup</a>
        
      </div>
    </div>
  </div>

  <!-- Community Content Section -->
  <div class="row mt-4">
    <!-- Community Information or Welcome Section -->
    <div class="col-md-8">
      <h2 class="text-secondary" style="color:#45526e;">Welcome to OUR Community!</h2>
      <p class="text-secondary" style="color:#45526e;">Focusing on minority-owned businesses can allow for a broader inclusion of various underrepresented groups, encompassing Black, Indigenous, people of color (BIPOC), women-owned, LGBTQ+ owned, and other marginalized communities. This approach could create a more expansive and diverse community, offering support and opportunities for a wider range of entrepreneurs facing similar challenges in the business landscape.</p>
      
      <!-- Other Community Information or Features -->
      <!-- Add your community-related content here -->
    </div>

    <!-- Sidebar or Featured Content -->
   

  <!-- Footer Section -->
  
</main>
<br>


<%- include('partials/footer') -%>
